body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background: url(IMG/background.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 17px;
  text-align: center;
}

.clock {
  display: flex;
}

.clock div {
  margin: 5px;
  position: relative;
}

.clock span {
  width: 100px;
  height: 80px;
  background-color: rgb(138, 181, 236);
  opacity: 0.8;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(red, green, rgb(114, 114, 252), alpha);
}

.clock .text {
  height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: rgb(66, 149, 249);
  opacity: 0.8;
}

.clock #ampm {
  bottom: 0;
  position: absolute;
  width: 60px;
  height: 30px;
  font-size: 20px;
  background-color: rgb(172, 84, 84);
}

select {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}

@keyframes colorswitch{
  0%{background-color: rgb(138, 181, 236)}
  50%{background-color: rgb(66, 149, 249);}
  100%{background-color: rgb(138, 181, 236)}
}

button{
  position: absolute;
  width: 60px;
  height: 30px;
  margin-left: 390px;
  margin-top: -83px;
  font-size: 20px;
  color: aliceblue;
  border: none;
  border-radius: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(84, 116, 172);
  animation: colorswitch 7.5s infinite;
}

a {
  text-decoration: none;
  color: aliceblue;
}
